Repository sparkgeo/spk-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, npm run lint -- --fix

Update import order and add border-radius Import update order to import theme.css (and therefore react-aria) before component CSS modules. Add -border-radius-input CSS var and use in datepicker.
  src/components/core/DatePicker.module.css
  src/components/index.ts
  src/components/styles/theme.css
Due: prettier --write --ignore-unknown

fix: Use ID as title when title is not provided
  src/components/core/CatalogCard.tsx
Due: none

chore: Add test stories
  src/stories/CatalogCard.stories.tsx
Due: none

chore: Update directory structure for Catalog
  src/components/composite/Catalog/CatalogCard.module.css
  src/components/composite/Catalog/CatalogCard.test.tsx
  src/components/composite/Catalog/CatalogCard.tsx
  src/components/composite/Catalog/CatalogList.module.css
  src/components/composite/Catalog/CatalogList.test.tsx
  src/components/composite/Catalog/CatalogList.tsx
  src/components/composite/Catalog/index.ts
  src/components/composite/Catalog/types.ts
  src/stories/CatalogCard.stories.tsx
  src/stories/CatalogList.stories.tsx
Due: prettier --write --ignore-unknown

fix: Add background white to card
  src/components/composite/Catalog/CatalogCard.module.css
Due: prettier --write --ignore-unknown

chore: updates simple slider story due to changes to props
  src/stories/SimpleSlider.stories.js
  src/stories/SimpleSlider.stories.jsx
Due: prettier --write --ignore-unknown, npm run lint -- --fix

chore: updates simple slider component to use new typescript standards, react-aria and tests
  dist/index.css
  dist/spk-library.es.js
  dist/spk-library.umd.js
  src/components/core/SimpleSlider.jsx
  src/components/core/SimpleSlider.module.css
  src/components/core/SimpleSlider.test.tsx
  src/components/core/SimpleSlider.tsx
Due: prettier --write --ignore-unknown, npm run lint -- --fix

chore: adds className prop to allow class pass through from consuming projects
  src/components/core/SimpleSlider.tsx
Due: none

Add rollupTypes to vite dts config and switch to global CSS syntax in datepicker module
  CONTRIBUTING.md
  src/components/core/DatePicker.module.css
  vite.config.ts
Due: prettier --write --ignore-unknown

Update gitignore. Add .d.ts file
  .gitignore
  dist/index.css
  dist/index.d.ts
  dist/spk-library.es.js
  dist/spk-library.umd.js
Due: prettier --write --ignore-unknown, npm run lint -- --fix

Return to CSS module composes approach
  CONTRIBUTING.md
  dist/index.css
  dist/spk-library.es.js
  dist/spk-library.umd.js
  src/components/core/DatePicker.module.css
Due: prettier --write --ignore-unknown, npm run lint -- --fix

feat: adds InfoPanelContainer component, styles, and stories
  dist/index.css
  dist/spk-library.es.js
  dist/spk-library.umd.js
  src/components/containers/InfoPanelContainer.module.css
  src/components/containers/InfoPanelContainer.tsx
  src/components/index.ts
  src/stories/InfoPanelContainer.stories.tsx
Due: prettier --write --ignore-unknown, npm run lint -- --fix

fix: updates snapshot after removing test id
  src/components/containers/__snapshots__/InfoPanelContainer.test.tsx.snap
Due: none

chore: updates InfoPanelContainer styles and adds a snapshot test
  dist/index.css
  dist/spk-library.es.js
  dist/spk-library.umd.js
  src/components/containers/InfoPanelContainer.module.css
  src/components/containers/InfoPanelContainer.test.tsx
  src/components/containers/__snapshots__/InfoPanelContainer.test.tsx.snap
Due: prettier --write --ignore-unknown, npm run lint -- --fix

fix: removes unneeded div and updates info panel border radius
  src/components/containers/InfoPanelContainer.module.css
  src/components/containers/InfoPanelContainer.tsx
  src/components/styles/theme.css
Due: prettier --write --ignore-unknown

fix: updated snapshot
  src/components/containers/__snapshots__/InfoPanelContainer.test.tsx.snap
Due: none

fix: made pre-push hook executable
  .husky/pre-push
Due: none

feat: adds position type for the info panel component instead of a generic string type
  src/components/containers/InfoPanelContainer.tsx
Due: none

chore: updates infoPanelContainer to use an aside html element instead of div
  dist/index.css
  dist/spk-library.es.js
  dist/spk-library.umd.js
  src/components/containers/InfoPanelContainer.tsx
  src/components/containers/__snapshots__/InfoPanelContainer.test.tsx.snap
  src/components/styles/theme.css
Due: prettier --write --ignore-unknown, npm run lint -- --fix

Add react-aria globals to vite config for UMD build
  dist/spk-library.umd.js
  vite.config.ts
Due: prettier --write --ignore-unknown, npm run lint -- --fix

Update vite-plugin-dts
  package-lock.json
  package.json
Due: none

feat: adds InfoPanelContainer component, styles, and stories
  dist/index.css
  dist/index.d.ts
  dist/spk-library.es.js
  dist/spk-library.umd.js
  src/components/containers/InfoPanelContainer.module.css
  src/components/containers/InfoPanelContainer.tsx
  src/components/index.ts
  src/stories/InfoPanelContainer.stories.tsx
Due: prettier --write --ignore-unknown, npm run lint -- --fix

chore: updates infoPanelContainer to use an aside html element instead of div
  dist/index.css
  dist/index.d.ts
  dist/spk-library.es.js
  dist/spk-library.umd.js
  src/components/containers/InfoPanelContainer.tsx
  src/components/containers/__snapshots__/InfoPanelContainer.test.tsx.snap
  src/components/styles/theme.css
Due: prettier --write --ignore-unknown, npm run lint -- --fix

chore: updates simple slider component to use new typescript standards, react-aria and tests
  dist/index.css
  dist/index.d.ts
  dist/spk-library.es.js
  dist/spk-library.umd.js
  src/components/core/SimpleSlider.jsx
  src/components/core/SimpleSlider.module.css
  src/components/core/SimpleSlider.test.tsx
  src/components/core/SimpleSlider.tsx
Due: prettier --write --ignore-unknown, npm run lint -- --fix

fix: fixes issue non optional classname prop fo simple slider and builds project
  dist/index.d.ts
  dist/spk-library.es.js
  dist/spk-library.umd.js
  src/components/core/SimpleSlider.tsx
Due: prettier --write --ignore-unknown, npm run lint -- --fix

chore: several style updates for sidebar components including layer cards, groups and buttons
  dist/index.css
  dist/index.d.ts
  dist/spk-library.es.js
  dist/spk-library.umd.js
  src/components/composite/LayerButtonReel.jsx
  src/components/composite/LayerCard.jsx
  src/components/composite/LayerCard.module.css
  src/components/containers/SidebarContainer.css
  src/components/core/IconButton.jsx
  src/components/core/LayerGroup.jsx
  src/components/core/LayerGroup.module.css
  src/components/core/LayerToggle.jsx
  src/components/core/SimpleSlider.module.css
Due: prettier --write --ignore-unknown, npm run lint -- --fix

chore: further styling/structure tweaks for layercard component
  dist/index.css
  dist/index.d.ts
  dist/spk-library.es.js
  dist/spk-library.umd.js
  package-lock.json
  package.json
  src/components/composite/LayerCard.module.css
Due: prettier --write --ignore-unknown, npm run lint -- --fix

fix: makes attribition visible when layercard is active and alters style of info icon
  dist/index.css
  dist/spk-library.es.js
  dist/spk-library.umd.js
  src/components/composite/LayerCard.jsx
  src/components/composite/LayerCard.module.css
Due: prettier --write --ignore-unknown, npm run lint -- --fix

fix: fixes missing attribution display logic and adds tooltip for description toggle button
  dist/index.css
  dist/spk-library.es.js
  dist/spk-library.umd.js
  src/components/composite/LayerCard.jsx
  src/components/composite/LayerCard.module.css
Due: prettier --write --ignore-unknown, npm run lint -- --fix

fix: updates logical chack for layer card attribution props to only show the attribution elements if text property exists
  dist/spk-library.es.js
  dist/spk-library.umd.js
  src/components/composite/LayerCard.jsx
Due: prettier --write --ignore-unknown, npm run lint -- --fix

feat: correctly exports range slider
  src/components/index.ts
Due: none

feat: update range slider styling to be consistent with simple slider and update theme variables for a sensible color scheme
  dist/index.css
  dist/index.d.ts
  dist/spk-library.es.js
  dist/spk-library.umd.js
  src/components/core/RangeSlider.module.css
  src/components/styles/theme.css
Due: prettier --write --ignore-unknown, npm run lint -- --fix

Path conditions:
  prettier --write --ignore-unknown: ((any of: *.js) or (any of: *.jsx)) or (any of: *.css)
  npm run lint -- --fix: (any of: *.js) or (any of: *.jsx)
