Repository sparkgeo/spk-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, npm run lint -- --fix

.lintstagedrc.json:

{
    "*.js": [
        "prettier --write --ignore-unknown",
        "npm run lint -- --fix"
    ],
    "*.jsx": [
        "prettier --write --ignore-unknown",
        "npm run lint -- --fix"
    ],
    "*.css": "prettier --write --ignore-unknown"
}

feat: Updates layer groups, cards and sub components to fix several styling issues and provide some missing options when passing props
  dist/spk-library.es.js
  dist/spk-library.umd.js
  dist/style.css
  src/components/composite/LayerCard.jsx
  src/components/composite/LayerCard.module.css
  src/components/containers/Sidebar.css
  src/components/containers/SidebarContainer.css
  src/components/core/GradientLegend.jsx
  src/components/core/LayerGroup.jsx
  src/components/core/LayerGroup.module.css
  src/components/core/LayerToggle.jsx
  src/components/core/LayerToggle.module.css
Due: prettier --write --ignore-unknown, npm run lint -- --fix

Delete DatePicker.css
  src/components/core/DatePicker.css
Due: prettier --write --ignore-unknown

chore: clears package-lock and rebuilds project
  dist/spk-library.es.js
  dist/spk-library.umd.js
  dist/style.css
  package-lock.json
Due: prettier --write --ignore-unknown, npm run lint -- --fix

chore: updates layercard story
  src/stories/LayerCard.stories.js
Due: prettier --write --ignore-unknown, npm run lint -- --fix

Theme updates
  src/components/core/DatePicker.tsx
  src/components/styles/react-aria/DatePicker.css
  src/components/styles/theme.css
Due: prettier --write --ignore-unknown

Recreate package lock and update DatePicker props
  package-lock.json
  src/components/core/DatePicker.tsx
Due: none

feat: updates map container and styles and adds a comparison control component
  src/components/composite/ComparisonControl.module.css
  src/components/composite/ComparisonControl.test.tsx
  src/components/composite/ComparisonControl.tsx
  src/components/containers/MapContainer.css
  src/components/containers/MapContainer.jsx
  src/components/containers/MapContainer.module.css
  src/components/layout/Standard.css
  src/components/styles/theme.css
  src/stories/ComparisonControl.stories.tsx
  src/stories/Standard.stories.jsx
Due: prettier --write --ignore-unknown, npm run lint -- --fix

chore: adds a small number of tests for the comparison control component
  src/components/composite/ComparisonControl.test.tsx
  src/components/composite/ComparisonControl.tsx
Due: none

fix: fixes issues with styling and adds a value prop to comparison control to allow for external management
  dist/index.css
  dist/spk-library.es.js
  dist/spk-library.umd.js
  src/components/composite/ComparisonControl.module.css
  src/components/composite/ComparisonControl.tsx
  src/components/index.ts
Due: prettier --write --ignore-unknown, npm run lint -- --fix

fix: removes uneeded import in theme.css
  src/components/styles/theme.css
Due: prettier --write --ignore-unknown

docs: Update CONTRIBUTING.md Document standards for new components including TypeScript, CSS Modules, and testing requirements. Add checklist for contributors to follow when adding components.
  CONTRIBUTING.md
Due: none

fix: Update comparison control prop interface to extend the react aria prop types, adds support for Node based labels and updates tests
  src/components/composite/ComparisonControl.test.tsx
  src/components/composite/ComparisonControl.tsx
Due: none

chore: adds generated JSDoc snippet for ComparisonControl
  src/components/composite/ComparisonControl.tsx
Due: none

fix: adds spread opertor for remaining props on the react aria slider component
  src/components/composite/ComparisonControl.tsx
Due: none

fix: updates Comparison control stories with a fix for the onChange function. The stories now have state to manage the component
  src/stories/ComparisonControl.stories.tsx
Due: none

chore: build distributed files
  dist/index.css
  dist/spk-library.es.js
  dist/spk-library.umd.js
Due: prettier --write --ignore-unknown, npm run lint -- --fix

ci: splits the testing step out from the deploy workflow and creates a new testing worflow for targeting the default branch on push and PR
  .github/workflows/deploy.yaml
  .github/workflows/test.yaml
Due: none

fix: yaml spacing...
  .github/workflows/test.yaml
Due: none

ci: updates test.yaml worflow with a slight better name and adds event types to the pull request trigger
  .github/workflows/test.yaml
Due: none

ci: change the trgger for the status checks workflow to run on push
  .github/workflows/test.yaml
Due: none

chore: bumps package.json version number to 0.0.1
  package.json
Due: none

Modify CONTRIBUTING.md based on feedback
  CONTRIBUTING.md
Due: none

Update README.md
  README.md
Due: none

feat: Implement individual catalog card
  src/components/core/CatalogCard.module.css
  src/components/core/CatalogCard.tsx
  src/stories/CatalogCard.stories.tsx
Due: prettier --write --ignore-unknown

Add render prop
  src/components/core/CatalogCard.module.css
  src/components/core/CatalogCard.tsx
  src/stories/CatalogCard.stories.tsx
Due: prettier --write --ignore-unknown

feat: Implement Catalog list container
  src/components/composite/Catalog.module.css
  src/components/composite/Catalog.stories.tsx
  src/components/composite/Catalog.tsx
  src/components/core/CatalogCard.module.css
  src/components/core/CatalogCard.tsx
Due: prettier --write --ignore-unknown

feat: Add id to catalog object
  src/components/composite/Catalog.stories.tsx
  src/components/composite/Catalog.tsx
  src/components/core/CatalogCard.tsx
Due: none

fix: Move story to correct directory
  src/stories/Catalog.stories.tsx
Due: none

fix: Fix catalog number style
  src/components/composite/Catalog.module.css
Due: prettier --write --ignore-unknown

Update import layout
  src/components/core/DatePicker.tsx
Due: none

feat: Add truncate text util function
  src/components/composite/Catalog.tsx
  src/components/core/CatalogCard.tsx
  src/utils/exampleFunction.js
  src/utils/index.js
  src/utils/index.ts
  src/utils/strings.ts
Due: prettier --write --ignore-unknown, npm run lint -- --fix

fix: Add aria-label to read more button
  src/components/core/CatalogCard.tsx
Due: none

fix: Use default Date object
  src/components/composite/Catalog.module.css
  src/components/core/CatalogCard.module.css
  src/components/core/CatalogCard.tsx
  src/stories/Catalog.stories.tsx
  src/stories/CatalogCard.stories.tsx
Due: prettier --write --ignore-unknown

fix: Convert date to utc string
  src/components/core/CatalogCard.tsx
  src/stories/Catalog.stories.tsx
  src/utils/strings.ts
Due: none

Add empty screen
  src/components/composite/Catalog.tsx
  src/stories/Catalog.stories.tsx
Due: none

chore: Rename to CatalogList
  src/components/composite/CatalogList.module.css
  src/components/composite/CatalogList.tsx
  src/stories/CatalogList.stories.tsx
Due: prettier --write --ignore-unknown

Add test for catalog card
  src/components/core/CatalogCard.test.tsx
Due: none

feat: Add test for CatalogList
  src/components/composite/CatalogList.test.tsx
  src/components/composite/CatalogList.tsx
Due: none

fix: Create Date object with UTC
  src/components/core/CatalogCard.test.tsx
Due: none

Override border-radius in DatePicker CSS module
  src/components/core/DatePicker.module.css
Due: prettier --write --ignore-unknown
