Repository sparkgeo/spk-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, npm run lint, prettier --write --ignore-unknown --fix

.lintstagedrc.json:

{
    "*.js": [
        "prettier --write --ignore-unknown",
        "npm run lint"
    ],
    "*.jsx": [
        "prettier --write --ignore-unknown --fix",
        "npm run lint"
    ],
    "*.css": "prettier --write --ignore-unknown"
}

feat: handles swap over when being dragged past the other handle
  src/components/composite/RangeSlider.jsx
Due: npm run lint, prettier --write --ignore-unknown --fix

feat: clicking on the track moves the nearest handle
  src/components/composite/RangeSlider.css
  src/components/composite/RangeSlider.jsx
Due: prettier --write --ignore-unknown, npm run lint, prettier --write --ignore-unknown --fix

fix: slider no longer gets locked when it is at the maximum range
  src/components/composite/RangeSlider.jsx
  src/stories/RangeSlider.stories.js
Due: prettier --write --ignore-unknown, npm run lint, prettier --write --ignore-unknown --fix

refactor: simplify some code
  src/components/composite/RangeSlider.jsx
Due: npm run lint, prettier --write --ignore-unknown --fix

feat: added step functionality
  src/components/composite/RangeSlider.jsx
  src/stories/RangeSlider.stories.js
Due: prettier --write --ignore-unknown, npm run lint, prettier --write --ignore-unknown --fix

fix: git ignored the filename case change
  src/components/composite/LayerButtonReel.css
  src/components/composite/LayerCard.css
  src/components/core/LayerToggle.css
  src/components/layout/Sidebar.css
Due: prettier --write --ignore-unknown

fix: clicking the track honours the step value
  src/components/core/RangeSlider.css
  src/components/core/RangeSlider.jsx
  src/stories/RangeSlider.stories.js
Due: prettier --write --ignore-unknown, npm run lint, prettier --write --ignore-unknown --fix

chore: updates project structure, renames sidebar component and moves map/sidebar into new directory. Fixes linting for Gradient legend component
  .lintstagedrc.json
  .prettierrc
  src/components/containers/MapContainer.css
  src/components/containers/MapContainer.jsx
  src/components/containers/Sidebar.css
  src/components/containers/SidebarContainer.css
  src/components/containers/SidebarContainer.jsx
  src/stories/MapContainer.stories.jsx
  src/stories/SidebarContainer.stories.jsx
Due: prettier --write --ignore-unknown, npm run lint, prettier --write --ignore-unknown --fix

chore: change lint-stage rule to fix linting issues
  .lintstagedrc.json
Due: none

chore: reverts lint-staged config
  .lintstagedrc.json
Due: none

chore: adds MDX documentation for contianers and layouts, adds configuration for static assets in storybook
  .storybook/main.js
  src/stories/assets/standard_grid_example.png
  src/stories/docs/containers.mdx
  src/stories/docs/layouts.mdx
Due: prettier --write --ignore-unknown, npm run lint

feat: updates the 'container' components and styling. Also creates a constants file for stories
  src/components/containers/MapContainer.css
  src/components/containers/SidebarContainer.css
  src/components/containers/SidebarContainer.jsx
  src/stories/SidebarContainer.stories.jsx
  src/stories/constants.js
Due: prettier --write --ignore-unknown, npm run lint, prettier --write --ignore-unknown --fix

feat: Adds stacked and standard layout components, styling and stories
  src/components/layout/Stacked.css
  src/components/layout/Stacked.jsx
  src/components/layout/Standard.css
  src/components/layout/Standard.jsx
  src/stories/Stacked.stories.jsx
  src/stories/Standard.stories.jsx
Due: prettier --write --ignore-unknown, npm run lint, prettier --write --ignore-unknown --fix

feat: initial stab at a date range slider using D3.js
  package-lock.json
  package.json
  src/components/composite/DateRangeSlider.css
  src/components/composite/DateRangeSlider.jsx
  src/components/core/RangeSlider.css
  src/components/core/RangeSlider.jsx
  src/components/index.js
  src/stories/DateRangeSlider.stories.js
Due: prettier --write --ignore-unknown, npm run lint, prettier --write --ignore-unknown --fix

fix: removed call to prettier on commit
  .lintstagedrc.json
Due: none

fix: `valuesChanged` cb gets called when clicking the track
  src/components/composite/DateRangeSlider.jsx
  src/components/core/RangeSlider.jsx
Due: npm run lint, prettier --write --ignore-unknown --fix

feat: a useful floating info box
  src/components/containers/InfoBoxContainer.css
  src/components/containers/InfoBoxContainer.jsx
  src/stories/InfoBoxContainer.stories.jsx
Due: prettier --write --ignore-unknown, npm run lint, prettier --write --ignore-unknown --fix

Feat: Nav component Add NavContainer component. Create story for NavContainer. Update containers.mdx documentation.
  src/components/containers/NavContainer.css
  src/components/containers/NavContainer.jsx
  src/stories/NavContainer.stories.jsx
  src/stories/docs/containers.mdx
Due: prettier --write --ignore-unknown, npm run lint, prettier --write --ignore-unknown --fix

Add NavContainer to layout stories
  src/components/containers/NavContainer.css
  src/stories/Stacked.stories.jsx
  src/stories/Standard.stories.jsx
Due: prettier --write --ignore-unknown, npm run lint, prettier --write --ignore-unknown --fix

Feat: Theme system Implement basic theme system with variables in separate css file. Use variables in nav container and icon button containers as an example.
  .storybook/preview.js
  src/components/containers/NavContainer.css
  src/components/core/IconButton.css
  src/components/index.js
  src/components/styles/variables.css
Due: prettier --write --ignore-unknown, npm run lint

Feat: Update readme, add open source docs, issue templates, PR template
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE.md
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGES.md
  CONTRIBUTING.md
  LICENSE
  README.md
Due: none

Add MIT license text
  LICENSE
Due: none

fix: removes dist from git ignore so the built modules can be imported by other projects
  .gitignore
  .lintstagedrc.json
  dist/spk-library.es.js
  dist/spk-library.umd.js
  dist/style.css
  lint-staged.config.js
Due: prettier --write --ignore-unknown, npm run lint

fix: numerous fixes for issues discovered during POC usage
  package.json
  src/components/containers/MapContainer.jsx
  src/components/containers/SidebarContainer.jsx
  src/components/core/LayerToggle.css
  src/components/core/layerToggle.css
  src/components/index.js
  src/components/layout/Standard.css
  src/stories/SidebarContainer.stories.jsx
  src/stories/Stacked.stories.jsx
  src/stories/Standard.stories.jsx
Due: prettier --write --ignore-unknown, npm run lint, prettier --write --ignore-unknown --fix

chore: builds new dist modules
  dist/spk-library.es.js
  dist/spk-library.umd.js
  dist/style.css
Due: prettier --write --ignore-unknown, npm run lint

Fix: Resolve merge conflicts
  src/stories/Stacked.stories.jsx
  src/stories/Standard.stories.jsx
Due: npm run lint, prettier --write --ignore-unknown --fix

Fix: Update containers.mdx
  src/stories/docs/containers.mdx
Due: none

react-aria proof of concept Initial attempt to replicate existing composite components with components from react-aria library.
  package-lock.json
  package.json
  src/components/composite-react-aria/LayerButtonReel.css
  src/components/composite-react-aria/LayerButtonReel.jsx
  src/components/composite-react-aria/LayerCard.css
  src/components/composite-react-aria/LayerCard.jsx
  src/components/composite-react-aria/SliderControl.css
  src/components/composite-react-aria/SliderControl.jsx
  src/components/composite-react-aria/SwatchLegend.css
  src/components/composite-react-aria/SwatchLegend.jsx
  src/components/core-react-aria/Swatch.css
  src/components/core-react-aria/Swatch.jsx
  src/components/core/Icon.jsx
  src/components/styles/theme.css
  src/stories/LayerButtonReelReactAria.stories.js
  src/stories/LayerCardReactAria.stories.js
  src/stories/SliderControlReactAria.stories.js
  src/stories/Stacked.stories.jsx
  src/stories/Standard.stories.jsx
  src/stories/SwatchLegendReactAria.stories.js
  src/stories/docs/containers.mdx
Due: prettier --write --ignore-unknown, npm run lint, prettier --write --ignore-unknown --fix

Rename Sidebar to SidebarContainer in containers.mdx
  src/stories/docs/containers.mdx
Due: none

feat: adds support for layercard children and adds styling
  dist/spk-library.es.js
  dist/spk-library.umd.js
  dist/style.css
  src/components/composite/LayerCard.css
  src/components/composite/LayerCard.jsx
  src/components/composite/layerButtonReel.css
  src/components/composite/layerCard.css
Due: prettier --write --ignore-unknown, npm run lint, prettier --write --ignore-unknown --fix

feat: adds layerGroup component, styling and stories
  dist/spk-library.es.js
  dist/spk-library.umd.js
  package-lock.json
  src/components/core/LayerGroup.css
  src/components/core/LayerGroup.jsx
  src/stories/LayerGroup.stories.jsx
  src/stories/SidebarContainer.stories.jsx
  src/stories/constants.js
Due: prettier --write --ignore-unknown, npm run lint, prettier --write --ignore-unknown --fix

fix: updates layergroup styles and adds layergroup export
  dist/spk-library.es.js
  dist/spk-library.umd.js
  dist/style.css
  src/components/core/LayerGroup.css
  src/components/index.js
Due: prettier --write --ignore-unknown, npm run lint

fix: updates styles for layergroups for accesbility fixes and a clearer UX
  dist/style.css
  src/components/core/LayerGroup.css
Due: prettier --write --ignore-unknown

fix: updates NavContainer styles and adds NavContainer as a package export
  dist/spk-library.es.js
  dist/spk-library.umd.js
  dist/style.css
  src/components/containers/NavContainer.css
  src/components/index.js
Due: prettier --write --ignore-unknown, npm run lint

fix: updates several components styling to use root css theme variables
  dist/style.css
  src/components/composite/LayerCard.css
  src/components/containers/SidebarContainer.css
  src/components/core/LayerGroup.css
  src/components/core/LayerToggle.css
Due: prettier --write --ignore-unknown

fix: rebuild dist files
  dist/style.css
Due: prettier --write --ignore-unknown

Convert existing components to use CSS modules
  src/components/composite/DateRangeSlider.css
  src/components/composite/DateRangeSlider.jsx
  src/components/composite/DateRangeSlider.module.css
  src/components/composite/LayerButtonReel.jsx
  src/components/composite/LayerButtonReel.module.css
  src/components/composite/LayerCard.jsx
  src/components/composite/LayerCard.module.css
  src/components/composite/SliderControl.jsx
  src/components/composite/SliderControl.module.css
  src/components/composite/SwatchLegend.jsx
  src/components/composite/SwatchLegend.module.css
  src/components/core/GradientLegend.jsx
  src/components/core/GradientLegend.module.css
  src/components/core/IconButton.jsx
  src/components/core/IconButton.module.css
  src/components/core/LayerGroup.jsx
  src/components/core/LayerGroup.module.css
  src/components/core/LayerToggle.jsx
  src/components/core/LayerToggle.module.css
  src/components/core/RangeSlider.jsx
  src/components/core/RangeSlider.module.css
  src/components/core/SimpleSlider.css
  src/components/core/SimpleSlider.jsx
  src/components/core/SimpleSlider.module.css
  src/components/core/Swatch.jsx
  src/components/core/Swatch.module.css
Due: prettier --write --ignore-unknown, npm run lint, prettier --write --ignore-unknown --fix

feat: Add utils directory and example utility function
  src/utils/exampleFunction.js
  src/utils/index.js
Due: prettier --write --ignore-unknown, npm run lint

fix: updates a number of background and text color rules to make use of global variables and for consistency
  dist/style.css
  src/components/composite/LayerCard.module.css
  src/components/containers/NavContainer.css
  src/components/containers/SidebarContainer.css
  src/components/core/LayerGroup.module.css
  src/components/core/LayerToggle.module.css
Due: prettier --write --ignore-unknown

chore: build dist files
  dist/spk-library.es.js
  dist/spk-library.umd.js
  dist/style.css
Due: prettier --write --ignore-unknown, npm run lint
